header {
    display: flex;
    justify-content: start;
}

header .logo {
    width: 100px;
    margin-left: 60px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main>* {
    margin: 30px;
}

.row {
    display: flex;
    margin: 0 30px
}

.col {
    margin: 30px;
}

.col ul li {

    margin: 20px;
}